form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-size: 1.2rem;
    color: #333;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="email"],
  input[type="password"] {
    /* padding: 10px; */
    /* margin-bottom: 20px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    font-size: 1.2rem;
  }
  
  button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  button[type="button"] {
    background-color: #f44336;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
  }
  
  button[type="button"]:hover {
    background-color: #9e1c1c;
  }