table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
  
    
    margin-right: 1px;
    overflow-x: auto;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 2px;
    padding-right: 5px;
  
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }
  
  .pagination button {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #dee2e6;
    background-color: #fff;
    color: #495057;
    padding: 6px 12px;
    margin: 0 5px;
  }
  
  .pagination button:hover {
    background-color: #f2f2f2;
  }
  
  .pagination button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  /* Search Filter */
  .globalFilter{
    width: 15%;
    margin-left: 350px;
    margin-bottom: 20px;
  }
  .search-filter {
    margin-bottom: 20px;
  }
  
  .search-filter input[type='text'] {
    
    padding: 0px;
    font-size: 16px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    outline: none;
  }
  
  .search-filter input[type='text']:focus {
    border-color: #007bff;
  } 
  