.weatherCard {
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 20px 30px;
  }
  
  .name {
    font-weight: 700;
    color: #333;
    margin-bottom: 5px;
  }
  
  .temperature {
    font-size: 80px;
    font-weight: 600;
    margin: 20px 0;
    color: #555;
  }
  
  .icon {
    color: #555;
  }
  
  .description {
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #666;
  }
  
  .dataContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
  }
  
  .dataColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dataLabel {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #555;
  }
  
  .dataValue {
    font-size: 16px;
    font-weight: 400;
    color: #666;
  }
  @media (max-width: 768px) {
    .weatherCard {
      width: 80%; /* Adjust the width as per your requirements */
      padding: 15px 20px;
    }
  
    .temperature {
      font-size: 60px;
    }
  
    .dataContainer {
      flex-wrap: wrap;
    }
  
    .dataColumn {
      margin-bottom: 20px;
    }
  }